APP_NAME=PlacamIA API
ENV=local

DB_HOST=localhost
DB_PORT=5432
DB_NAME=placamia
DB_USER=placamia
DB_PASSWORD=placamia

DATABASE_URL=postgresql://placamia:placamia@localhost:5432/placamia
SQLALCHEMY_ECHO=false
AUTH_TOKEN_SECRET=change-me-local-auth-token-secret
